@media screen and (max-width: 600px){ 
.row {display:block;}
.mob30 {margin:2em 0 auto;padding:0.5em;}
.mob40 {margin:2em 0 auto;padding:0.5em;}
.mob15 {margin:2em 0 auto;padding:0.5em;}
.mob40e { padding:0;} 
h1{margin:0 auto;}
}
@media screen and (min-width :600px) and (max-width: 2400px) { 
.row {display: flex; flex-wrap: wrap; margin: 0 auto; align-content:space-around;padding: 1em; padding-bottom: 2em; } 
.mob30 {flex: 0 0 30%;margin:0.5em auto;padding:0.5em;}
.mob40 {flex: 0 0 40%;margin:0.5em auto;padding:0.5em;}
.mob15 {flex: 0 0 15%;margin:0.5em auto;padding:0.5em;}
.mob40e { border:solid thin grey;border-radius:1em;padding:0;} 
h1{margin:0 auto;}
}
div li { padding:0.2em; }
body { margin:0 auto; }

.yellowh3 {
text-align:center;background-color:maroon;padding:0.5em;margin:0 auto; font-weight:bold;border-radius:0.5em;color:white }
.yellowtext { text-align:left;padding:0.5em;margin:1em 0;color:maroon; }

.foot { background-color:darkgrey;padding:1em 0; }